* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

#fondo {
    background-color: #96B5C6;
}

.divCentral {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 600px;
}

.divInput {
    background-color: blue;
}