* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.fondo {
    background-image: url(../img/fondo.gif);
}

.divCentral {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1110px;
    height: 590px;
}

@font-face {
    font-family: titulo;
    src: url(../fonts/Roboto/Roboto-Regular.ttf)
}

.titulo{
    font-family: titulo;
    position: absolute;
    left: 42%;
    top: 38px;
}

.divImg {
    position: absolute;
    bottom: 468px;
    left: 90px;
}

.divInput {
    width: 460px; 
    height: auto;
    margin: 70px auto;
    border-radius: 10px;  
    padding-left: 300px; 
    padding-top: 40px;
}

input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-width: 1px; 
	border-color: #000; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
}

.boton{
    background-color: #000;
    color: #fbfbfb;
    padding: 15px 25px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    position: absolute;
    left: 936px;
}


textarea{
    background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-width: 1px; 
	border-color: #000; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}

.logoMensaje{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50px;
}

.logoUbicacion{
    width: 32px;
    height: 33px;
    position: absolute;
}

.logoTelefono{
    width: 22px;
    height: 24px;
    position: absolute;
    top: 105px;
    left: 6px;
}

.logoFB{
    width: 31px;
    height: 30px;
    position: absolute;
    top: 200px;
    left: 50px;
}

.logoIG{
    width: 31px;
    height: 31px;
    position: absolute;
    top: 200px;
    left: 100px;
}

.logoTW{
    width: 31px;
    height: 31px;
    position: absolute;
    top: 200px;
    left: 150px;
}

.textMensaje{
    position: absolute;
    top: 56px;
    left: 55px;
    font-family: 'Montserrat', sans-serif;
}

.textTelefono{
    position: absolute;
    top:109px;
    left: 55px;
    width: 150px;
    font-family: 'Montserrat', sans-serif;
}

.textTelefono1{
    position: absolute;
    top: 136px;
    left: 55px;
    width: 150px;
    font-family: 'Montserrat', sans-serif;
}

.textDireccion{
    position: absolute;
    top: 8px;
    left: 55px;
    width: 400px;
    font-family: 'Montserrat', sans-serif;
}