* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

header {
    width: 100%;
    position: absolute;
    display: block;
}

nav{
    background-color: black;
}

nav ul {
    width: 100%;
    text-align: center;
  }

nav ul li {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    list-style: none;
    margin-left: 30px;
}

nav ul li a {
    display: block; 
    padding: 25px;
    color: #999;
    text-decoration: none;
  }

#logo {
	top: 15px;
	position:absolute;
	width:70px;
	height:45px;
    left: 20px;
}

h1 {
   position: absolute;
   top: 50px; 
}

.gifinicio{
    width: 100%;
    height: 760px; 
    background-color: hsl(203deg 26% 69%);
    text-align: center;
  }

.espacio_frase{
    height: 600px;
    text-align: center;
    font-size: 720%;
    margin-top:15%;
    margin-bottom:5%;
}

.frase{
    font-family: frases;
    width: 100%;
    height: 100%;
}

.titulo{
    text-align: center;
    height: auto;
    font-family: artistas, sans-serif;
    font-size: 65px;
}

.nombreartista{
    font-family: nombre, sans-serif;
}

.infoart{
    color: #ccc;
    font-family: info,sans-serif;
    font-size: 12px;
    margin-bottom: 22px;
}

table p {
    text-align:initial;
    margin-left: 10px;
}

.gif{
    position: relative;
    top: 80px;
}

.centrado{
    margin: auto;
    display: block;
    top: 50px;
}

.imgart{
    width: 239px;
    height: 239px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
 
}

.centrar {
    margin-left: auto;
    margin-right: auto;
  }

@font-face {
    font-family: frases;
    src: url(../fonts/zuka-doodle-font/ZukaDoodle-Kz7y.ttf);
}

@font-face {
    font-family: nombre;
    src: url(../fonts/BrownStd-Bold/BrownStd-Bold.ttf);
}
@font-face{
    font-family: info;
    src: url(../fonts/BrownStd-Light/Brown-Light.ttf);
}

@font-face{
    font-family: artistas;
    src: url(../fonts/tungsten-font/Tungsten-Semibold.otf);
}
@font-face{
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.tff);
}

footer{
    height: auto;
    background-color: black;
    color: white;
}

footer ul {
    text-align: center;
    position: relative;
    right: 18px;
  }

footer ul li {
    display: inline-block;
    list-style: none;
    margin-left: 30px;
}

footer ul li a {
    display: block; 
    padding: 15px;
    color: white;
    font-size: 14px;
    font-family: Arial;
    margin-bottom: 15px;
  }

.footerTitulo{
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}

.footerSubtitulo{
    margin-top: 14px;
    font-size: 12px;
    font-family: Montserrat;
    text-align: center;
}

.imgRedes{
    width: 30px;
    height: 30px;
    margin-top: 40px;
    margin-left: 20px;
}


