/*Estilos para toda la página*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

/*Estilos para la BARRA de NAVEGACIÓN*/
header {
    width: 100%;
    position: relative;
    display: block;
}

nav{
    background-color: #66608C;
    width: 100%;
}

nav ul {
    position: relative;
  }

nav ul li {
    font-family: BrownStd-Regular, sans-serif;
    font-size: 16px;
    display: inline-block;
    list-style: none;
}

nav ul li a {
    display: block; 
    padding: 25px;
    color: #f3f3f3;
    text-decoration: none;
  }

.moverLi{
    position: relative;
    left:260px;
}

.button {
    width: 130px;
    height: 40px;
    color: #070707;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f3f3f3;
    position: relative;
    left: 722%;
    text-align: center;
    bottom: 2px;
  }

/*Estilos del LOGO de la BARRA de NAVEGACIÓN*/
#logo {
	bottom: -19px;
    position: absolute;
    width: 256px;
    height: 115px;
    left: 2%;
}

/*Estilos del GIF principal*/
.gifinicio{
    width: 100%;
    height: 1140px;
    /*background-color: #2D2C46;*/
    background-image: url(../img/fondo.gif);
    text-align: center;
}

/*Centrar GIF principal horizontalmente y verticalmente*/
.gif{
    position: relative;
    top: 260px;
}

/*Estilos de la FRASE principal(aún no está porque la sacamos)*/ 
.espacio_frase{
    height: 600px;
    text-align: center;
    font-size: 720%;
    margin-top:15%;
    margin-bottom:5%;
}

.frase{
    font-family: frases;
    width: 100%;
    height: 100%;
}

/*Estilos de la parte ARTÍSTAS*/
.fondo{
    background-color: #141414;
}

/*Estilos del TÍTULO principal de la parte ARTÍSTAS*/ 
.titulo{
    text-align: center;
    height: 90px;
    font-family: artistas, sans-serif;
    font-size: 65px;
    padding-top: 50px;
    color: #f3f3f3;
}

/*Estilos del SUBTÍTULO principal de la parte ARTÍSTAS*/
.subtitulo{
    color: #ccc;
    text-align: center;
    height: 90px;
    font-family: BrownStd-Regular;
    font-size: 20px;
    padding-top: 35px;
}

/*Estilos de la TABLA*/
.centrarTabla {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding-bottom: 60px;
  }

.nombreartista{
    font-family: nombre, sans-serif;
    color: #f3f3f3;
}

.infoart{
    color: #ccc;
    font-family: info,sans-serif;
    font-size: 12px;
    margin-bottom: 22px;
}

table p {
    text-align:initial;
    margin-left: 10px;
}

.centrado{
    margin: auto;
    display: block;
    top: 50px;
}

.imgart{
    width: 239px;
    height: 239px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

/*Estilos del FOOTER*/
footer{
    height: auto;
    background-color: #070707;
    color: white;
}

footer ul {
    text-align: center;
    position: relative;
    right: 18px;
  }

footer ul li {
    display: inline-block;
    list-style: none;
    margin-left: 30px;
}

footer ul li a {
    display: block; 
    padding: 15px;
    color: #f3f3f3;
    font-size: 14px;
    font-family: Arial;
    margin-bottom: 15px;
  }

/*Centrar TABLA de REDES SOCIALES*/
.centrar {
    margin-left: auto;
    margin-right: auto;
  }

/*Estilos para ICONOS de REDES SOCIALES*/  
.imgRedes{
    width: 30px;
    height: 30px;
    margin-top: 50px;
    margin-left: 15px;
}

/*Estilos para el TITULO del FOOTER*/  
.footerTitulo{
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}

/*Estilos para el SUBTITULO del FOOTER*/
.footerSubtitulo{
    margin-top: 14px;
    font-size: 12px;
    font-family: Montserrat;
    text-align: center;
}

/*FUENTES agregadas*/
@font-face {
    font-family: frases;
    src: url(../fonts/zuka-doodle-font/ZukaDoodle-Kz7y.ttf);
}

@font-face {
    font-family: BrownStd-Regular;
    src: url(../fonts/BrownStd-Regular/FontsFree-Net-Brown-Regular-Regular.ttf);
}

@font-face {
    font-family: nombre;
    src: url(../fonts/BrownStd-Bold/BrownStd-Bold.ttf);
}
@font-face{
    font-family: info;
    src: url(../fonts/BrownStd-Light/Brown-Light.ttf);
}

@font-face{
    font-family: artistas;
    src: url(../fonts/tungsten-font/Tungsten-Semibold.otf);
}
@font-face{
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.tff);
}

@font-face {
    font-family: Noto Sans KR;
    src: url(../fonts/Noto_Sans_KR/NotoSansKR-Bold.otf);
}