* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

header {
    width: 100%;
    position: absolute;
    display: block;
    background-color: transparent;
}

nav ul {
    position: absolute;
    width: 100%;
    top: 6px;
    text-align: center;
  }

nav ul li {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    list-style: none;
    margin-left: 30px;
}

nav ul li a {
    display: block; 
    padding: 25px;
    color: #999;
    text-decoration: none;
  }

#logo {
	top: 15px;
	position:absolute;
	width:70px;
	height:45px;
    left: 20px;

}

footer{
    background-color: #96B5C6;
}

.divFooter {
    
}
